
*.pyc
.idea/vcs.xml
.idea/workspace.xml
.idea/L8_reflectance.iml
.idea/modules.xml
.idea/L8_reflectance.iml
*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/modules.xml
.idea/L8_reflectance.iml
.idea/workspace.xml
.idea/modules.xml
.idea/L8_reflectance.iml
.idea/L8_reflectance.iml
.idea/modules.xml
.idea/workspace.xml
__pycache__/L8_utils.cpython-36.pyc
